<h2 align="center"><strong> Listing of all Articles</strong> </h2>
<div align="center">
  <%= will_paginate %>
</div>
<%= render 'listartciles', obj: @articles %>
<div align="center">
  <%= will_paginate %>
</div> 
